{% load static %}
{% load course_filters %}


<style>
    /* Overlay */
	.checkout-popup-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: 1001;
		display: none;
	}

	.checkout-popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
		z-index: 1001;
		display: none;
		overflow: hidden;
	}

	/* Header */
	.checkout-popup-header {
		background: #ff6f61;
		color: #fff;
		padding: 15px;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* Close Button */
	.checkout-popup-close {
		background: none;
		border: none;
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}

	/* Body */
	.checkout-popup-body {
		padding: 20px;
		text-align: center;
	}

	.checkout-popup-body p {
		font-size: 16px;
		margin-bottom: 20px;
	}

	/* Buttons */
	.checkout-popup-buttons {
		display: flex;
		justify-content: space-around;
	}

	.checkout-popup-btn {
		padding: 10px 20px;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
	}

	.stripe-btn {
		background-color: #6772e5;
	}

	.paypal-btn {
		background-color: #ffc439;
	}

	/* Logo Styling */
	.checkout-popup-logo {
		display: block;
		margin: 0 auto 10px;
		height: 30px;
	}

	.star-rating {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}

	.star-rating input[type="radio"] {
		display: none;
	}

	.star-rating label {
		font-size: 2em;
		color: #ddd;
		cursor: pointer;
	}

	.star-rating input[type="radio"]:checked~label {
		color: #ffc107;
	}

	.popup-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.popup-content {
		background: white;
		padding: 20px;
		text-align: center;
		border-radius: 8px;
	}

	.enroll-btn {
		display: inline-block;
		margin-top: 10px;
		padding: 9px 15px;
		background: #f67609;
		color: white;
		text-decoration: none;
		border-radius: 10px;
		border: none;
	}

	.video-player {
		margin-top: 10px;
	}

	.video-modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(40, 69, 154, 0.75);
		z-index: 12000;
	}

	.video-modal-content {
		position: relative;
		width: 80%;
		max-width: 1200px;
		margin: 5vh auto;
		animation: modalAppear 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		background: transparent;
		border-radius: 15px;
	}

	.close-modal {
		position: absolute;
		top: 20px;
		right: 20px;
		color: white;
		font-size: 2.5rem;
		cursor: pointer;
		transition: color 0.2s ease;
		z-index: 1001;
	}

	.close-modal:hover {
		color: #f66962;
	}

	.modal-video-container {
		position: relative;
		overflow: hidden;
		border-radius: 15px;
	}

	.plyr {
		border-radius: 15px;
		overflow: hidden;
	}

	.play-button {
    position: absolute; 
    top: 50%;   
    left: 50%;   
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ff817b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}



.play-button i {
    font-size: 28px;
    color: white;
}

.waves {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff817b;
    animation: wavePulse 3s infinite;
}

.wave-2 { animation-delay: 1s; }
.wave-3 { animation-delay: 2s; }

@keyframes wavePulse {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}



	@keyframes modalAppear {
		from {
			transform: scale(0.8);
			opacity: 0;
		}

		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	.progress-section {
		background-color: var(--bs-card-bg);
		color: #fff;
		padding: 40px;
		border-radius: 12px;
	}

	.progress-header h3,
	.progress-header h1,
	.progress-header h2 {
		font-size: 28px;
		color: chocolate;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}

	.progress-bar-custom {
		position: relative;
		background-color: #343a40;
		border-radius: 12px;
		height: 24px;
		overflow: hidden;
		box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.3);
	}

	.progress-bar-fill {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		border-radius: 12px;
		background: linear-gradient(90deg, chocolate, #e8f100);
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		transition: width 0.6s ease;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	}

	.progress-details {
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
		font-size: 15px;
		color: #adb5bd;
		font-weight: 500;
	}
</style>

<div class="modal-course-content">
    <div class="primary-content-area container" data-prev-course="{% if prev_course %}{{ prev_course.slug }}{% endif %}"
        data-next-course="{% if next_course %}{{ next_course.slug }}{% endif %}">

        <!-- Inner Banner -->
        <div class="inner-banner" style="margin-top: 3rem; background: linear-gradient(to right, #5bb2d6, #fcdd7e);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="instructor-wrap border-bottom-0 m-0">
                            <div class="about-instructor align-items-center">
                                <div class="abt-instructor-img">
                                    <a href="instructor-profile.html"><img src="{{course.instructor.profile_pic.url}}" alt="img" class="img-fluid"></a>
                                </div>
                                <div class="instructor-detail me-3">
                                    <h5><a href="{% url 'edu_profile' course.instructor.slug %}">{{course.instructor.name}}</a></h5>
                                    <p>{{course.category_l_2.name}}</p>
                                </div>									
                                <div class="rating mb-0">							
                                    {% include 'edu_prenair/partials/course_rating.html' %}
                                    <span class="d-inline-block average-rating"><span>{{course.average_rating}}</span>
                                </div>
                            </div>
                            <span class="web-badge mb-3">{{course.category_l_2.name}}</span>
                        </div>
                        <h2>{{course.title}}</h2>
                        <p style="color: white;">{{sub_description_html|safe}}</p>
                        <div class="course-info d-flex align-items-center border-bottom-0 m-0 p-0">
                            <div class="cou-info">
                                <img src="{% static 'edu_prenair/assets/img/temp/icon-01.svg' %}" alt="Img">
                                <p>{{course.total_lessons}}+ Lesson</p>
                            </div>
                            <div class="cou-info">
                                <img src="{% static 'edu_prenair/assets/img/temp/timer-icon.svg' %}" alt="Img">
                                <p>{{course.duration}} hour</p>
                            </div>
                            <div class="cou-info">
                                <img src="{% static 'edu_prenair/assets/img/temp/people.svg' %}" alt="Img">
                                <p>{{course.total_students}} students enrolled</p>
                            </div>
                        </div>							
                    </div>
                </div>
            </div>
        </div>
        <!-- /Inner Banner -->

        <!-- Course Content -->
        <section class="page-content course-sec">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8">

                        <!-- Overview -->
                        <div class="card overview-sec">
                            <div class="card-body">
                                <h5 class="subs-title">Overview</h5>
                                <h6>Course Description</h6>
                                <p>{{description_html|safe}}</p>
                                <h6>What you'll learn</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li>{{course.category.title}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Requirements</h6>
                                <ul class="mb-0">
                                    <li>{{course.requirements}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Overview -->

                       <!-- Course Content -->
							<div class="card content-sec">
							    <div class="card-body">
							        <div class="row">
							            <div class="col-sm-6">
							                <h5 class="subs-title">Course Content</h5>
							            </div>
							            <div class="col-sm-6 text-sm-end">
							                <h6>{{ modules.count }} Modules | {{ course.total_lessons }} Lessons | {{ course.duration }} Hours</h6>
							            </div>
							        </div>
							    </div>
							</div>

                        <!-- Instructor -->
                        <div class="card instructor-sec">
                            <div class="card-body">
                                <h5 class="subs-title">About the instructor</h5>
                                <div class="instructor-wrap">
                                    <div class="about-instructor">
                                        <div class="abt-instructor-img">
                                            <a href="{% url 'edu_profile' course.instructor.slug %}"><img src="{{course.instructor.profile_pic.url}}" alt="img" class="img-fluid"></a>
                                        </div>
                                        <div class="instructor-detail">
                                            <h5><a href="{% url 'edu_profile' course.instructor.slug %}">{{course.instructor.name}}</a></h5>
                                            <p>{{course.instructor.edu_bio}}</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        {% include 'edu_prenair/partials/course_rating.html' %}
                                        <span class="d-inline-block average-rating">{{course.average_rating}} Course Average Rating</span>
                                    </div>
                                </div>
                                <div class="course-info d-flex align-items-center">
                                    <div class="cou-info">
                                        <img src="{% static 'edu_prenair/assets/img/temp/play.svg' %}" alt="Img">
                                        <p>{{course.instructor.edu_instrcutor_courses.count}} Courses</p>
                                    </div>
                                    <div class="cou-info">
                                        <img src="{% static 'edu_prenair/assets/img/temp/icon-01.svg' %}" alt="Img">
                                        <p>{{course.total_lessons}}+ Lesson</p>
                                    </div>
                                    <div class="cou-info">
                                        <img src="{% static 'edu_prenair/assets/img/temp/icon-02.svg' %}" alt="Img">
                                        <p>{{course.instructor.edu_instructor_courses_length}} Hours</p>
                                    </div>
                                    <div class="cou-info">
                                        <img src="{% static 'edu_prenair/assets/img/temp/people.svg' %}" alt="Img">
                                        <p>{{course.instructor.edu_instructor_total_students}} students enrolled</p>
                                    </div>
                                </div>
                                <p>{{course.instructor.edu_bio}}</p>
                            </div>
                        </div>
                        <!-- /Instructor -->

                        {% for rating in course.all_ratings %}
                        <!-- Reviews -->
                        <div class="card review-sec">
                            <div class="card-body">
                                <h5 class="subs-title">Review</h5>
                                <div class="instructor-wrap">
                                    <div class="about-instructor">
                                        <div class="abt-instructor-img">
                                            <a href="{% url 'edu_profile' rating.user.slug %}"><img src="{{rating.user.profile_pic.url}}" alt="img" class="img-fluid"></a>
                                        </div>
                                        <div class="instructor-detail">
                                            <h5><a href="{% url 'edu_profile' rating.user.slug %}">{{rating.user.name}}</a>
                                            </h5>
                                            <p>{{rating.user.edu_bio}}</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        {% if rating.rating == 1 %}
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>

                                        {% elif rating.rating == 2 %}
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        {% elif rating.rating == 3 %}
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>

                                        {% elif rating.rating == 4 %}
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>

                                        {% elif rating.rating == 5 %}
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        {% endif %}
                                        <span class="d-inline-block average-rating">{{rating.rating}} Star Rating</span>
                                    </div>
                                </div>
                                <p class="rev-info">“ {{rating.review}} “</p>
                            </div>
                        </div>
                        <!-- /Reviews -->
                        {% endfor %}
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar-sec">
                        
                            <!-- Video -->
                            <div class="video-sec vid-bg">
                                <div class="card">
                                    <div class="card-body" style="padding: 10px;">
                                        {% with first_video=course.get_first_video %}
                                            {% if first_video %}
                                                <div class="vid-container" >
                                                    <div class="video-hero-overlay">
                                                        <div class="waves">
                                                            <div class="wave wave-1"></div>
                                                            <div class="wave wave-2"></div>
                                                            <div class="wave wave-3"></div>
                                                        </div>
                                                        <div class="play-icon play-button" onclick="handlePreviewClick('{{ first_video.id }}', '{{ first_video.video.url }}')">
                                                            <i class="fa-solid fa-play"></i>
                                                        </div>
                                                    </div>
                                                    <img style="border-radius: 10px;" src="{{ course.thumbnail.url }}" alt="Course Thumbnail" class="video-hero-thumbnail">
                                                </div>
                                            {% else %}
                                                <div class="video-thumbnail">
                                                    <img style="border-radius: 10px;" src="{{ course.thumbnail.url }}" alt="Course Thumbnail">
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        <div class="video-details">
                                            <div class="course-fee">
                                                {% if course.is_course_free %}
                                                <h2>FREE</h2>
                                                {% endif %}
                                                {% if course.is_course_on_discount %}
                                                <p style="font-size: 1.5rem; background-color: #1e3a8a; color: white; padding: 0 10px; border-radius: 15px;">${{course.course_price}} <span>${{course.price}}</span></p>
                                                {% endif %}
                                            </div>
                                            <div style="display: flex; justify-content: space-between;">
                                            {% if course|is_user_enrolled:request.user %}
                                            <button class="btn btn-enroll w-100" style="background-color: #ff6f61; border: none;">Keep Learning</button>
                                            {% else %}
                                            <button type="button" class="category-btn-final" style="color: white;"
                                                onclick="openCheckoutPopup('{{ course.slug }}', '{{ course.title }}', '{{ course.price|floatformat:2 }}')">
                                                BUY NOW
                                            </button>
                                            {% endif %}
                                            {% if course|in_wishlist:request.user %}
                                            <button onclick="location.href='{% url 'remove_from_wishlist' course.slug %}'" class="btn btn-enroll category-btn-final" style="background-color: #ff6f61; border: none;">Remove from Wishlist</button>
                                            {% else %}
                                            <button onclick="location.href='{% url 'add_to_wishlist' course.slug %}'" class="btn btn-enroll category-btn-final" style="background-color: #ff6f61; border: none;">Add to Wishlist</button>
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Video -->
                            
                            <!-- Include -->
                            <div class="card include-sec">
                                <div class="card-body">
                                    <div class="cat-title">
                                        <h4>Includes</h4>
                                    </div>
                                    <ul>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/key.svg' %}" class="me-2" alt="Img"> Full lifetime access</li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/mobile.svg' %}" class="me-2" alt="Img"> Access on mobile and TV</li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/cloud.svg' %}" class="me-2" alt="Img"> Assignments</li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/teacher.svg' %}" class="me-2" alt="Img"> Certificate of Completion</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Include -->
                            
                            <!-- Features -->
                            <div class="card feature-sec">
                                <div class="card-body">
                                    <div class="cat-title">
                                        <h4>Includes</h4>
                                    </div>
                                    <ul>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/users.svg' %}" class="me-2" alt="Img"> Enrolled: <span>{{course.enrolled_students.count}} students</span></li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/timer.svg' %}" class="me-2" alt="Img"> Duration: <span>{{course.duration}} hours</span></li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/chapter.svg' %}" class="me-2" alt="Img"> Chapters: <span>{{course.total_modules.count}}</span></li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/video.svg' %}" class="me-2" alt="Img"> Video:<span> {{course.duration}} hours</span></li>
                                        <li><img src="{% static 'edu_prenair/assets/img/temp/chart.svg' %}" class="me-2" alt="Img"> Level: <span>{{course.level}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Features -->
                            
                        </div>
                    </div>
                </div>

                    <!-- Related Courses -->
                    <div class="related-gigs md:mt-15 mt-8">
                        <h5 class="heading5">Related Courses</h5>
                        <div class="swiper related-gigs-swiper mt-4">
                            <div class="swiper-wrapper">
                                {% for course in course.related_courses %}
                                <div class="swiper-slide" style="width: 300px;">
                                    <div class="course-box course-design d-flex featured-item" data-slug="{{ course.slug }}">
                                        <div class="product">
                                            <div class="product-img">
                                                <a href="{% url 'course_detail' course.slug %}" class="course-link">
                                                    <img class="img-fluid" alt="Img" src="{{ course.thumbnail.url }}">
                                                </a>
                                                <div class="price">
                                                    {% if course.is_course_on_discount %}
                                                    <div class="price">
                                                        <h3>${{course.course_price}} <span>${{course.price}}</span></h3>
                                                    </div>
                                                    {% else %}
                                                    <div class="price">
                                                        <h3>${{course.price}}</h3>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a href="{% url 'edu_profile' course.instructor.slug %}"><img src="{{course.instructor.profile_pic.url}}" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a href="{% url 'edu_profile' course.instructor.slug %}">{{course.instructor.name}}</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div class="course-share d-flex align-items-center justify-content-center">
													{% if course|in_wishlist:request.user %}
													<a href="{% url 'remove_from_wishlist' course.slug %}"><i class="fa-regular fa-heart color-active"></i></a>
													{% else %}
													<a href="{% url 'add_to_wishlist' course.slug %}"><i class="fa-regular fa-heart"></i></a>
													{% endif %}
												</div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'course_detail' course.slug %}" class="course-link">{{course.title}}</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="{% static 'edu_prenair/assets/img/temp/icon-01.svg' %}" alt="Img">
													<p>{{course.total_lessons}}+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="{% static 'edu_prenair/assets/img/temp/icon-02.svg' %}" alt="Img">
													<p>{{course.duration}} Hours</p>
                                                    </div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span class="d-inline-block average-rating"><span>5.0</span> ({{course.five_star_ratings.count}})</span>
                                                </div>
                                                <div class="all-btn all-category d-flex align-items-center">
													{% if course|is_user_enrolled:request.user %}
													    <a href="{% url 'course_detail' course.slug %}" class="category-btn-final" style="color: white;">View Course</a>
													{% else %}
													<button type="button" class="category-btn-final" style="color: white;" onclick="openCheckoutPopup('{{ course.slug }}', '{{ course.title }}', '{{ course.price|floatformat:2 }}')">
														BUY NOW
													</button>
													
													{% endif %}
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                
            </div>
        </section>
        <!-- /Pricing Plan -->

        <!-- Enrollment Popup -->
        <div id="enrollPopup" class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <p>Please enroll in the course to access this content.</p>
                <button class="enroll-btn">Close</button>
            </div>
        </div>

        <div class="video-modal" id="videoPlayer" style="display: none;">
            <div class="video-modal-content">
                <span class="close-modal" onclick="closeVideoPlayer()">&times;</span>
                <div class="modal-video-container">
                    <video 
                        id="mainVideoPlayer" 
                        class="plyr" 
                        playsinline 
                        controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>

        <div class="checkout-popup-overlay" id="customOfferPopupOverlay"></div>
        <div class="checkout-popup" id="paymentPopup" style="display: none;">
            <div class="checkout-popup-header">
                <h3 style="color: white;">Select Payment Method</h3>
                <button class="checkout-popup-close">×</button>
            </div>
            <div class="checkout-popup-body">
                <p>Please choose your preferred payment method for this course:</p>
                <div class="checkout-popup-buttons">
                    <!-- Stripe -->
                    <a style="color: white;" id="stripeCheckoutButton" href="#" class="checkout-popup-btn stripe-btn">
                        <img src="https://cdn.brandfetch.io/idxAg10C0L/theme/light/logo.svg?c=1bfwsmEH20zzEfSNTed"
                            alt="Stripe Logo" class="checkout-popup-logo">
                        Pay with Stripe
                    </a>
                    <!-- PayPal -->
                    <a style="color: white;" id="paypalCheckoutButton" href="#" class="checkout-popup-btn paypal-btn">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/512px-PayPal.svg.png"
                            alt="PayPal Logo" class="checkout-popup-logo">
                        Pay with PayPal
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


