{% extends "work_prenair/base.html" %}
{% load static %}


{% block content %}

{% include 'work_prenair/partials/header.html' %}

<!-- Slider -->
<section class="slider">
    <div class="slider_inner relative md:h-[700px] max-md:py-28 overflow-hidden">
        <!-- Background -->
        <div class="slider_bg absolute top-0 left-0 w-full h-full z-[-1]" aria-hidden="true">
            <img src="{% static 'work_prenair/assets/images/banner.png' %}" alt="slider1" class="w-full h-full object-cover" />
        </div>
        <!-- Content Container -->
        <div class="container h-full">
            <div class="flex flex-wrap items-center h-full">
                <!-- Left Column: Text and Search -->
                <div class="slider_content flex flex-col items-start justify-center md:w-1/2 w-full" style="height: 70%;">
                    <h2 class="heading1 text-black animate animate_top" style="--i: 1">Find the right freelance service, right away</h2>
                    <p class="body2 text-black mt-5 animate animate_top" style="--i: 2">Find skilled freelancers for any project. Discover top services and hire the best talent.</p>
                    <div class="form_search z-[1] w-full md:mt-10 mt-7 animate animate_top" style="--i: 3">
                        <form action="{% url 'gigs' %}" method="get" class="form_inner flex items-center justify-between max-sm:flex-wrap gap-6 gap-y-4 relative w-full bg-white" style="padding: 0.75rem 0.95rem;border-radius: 0px 35px 35px 35px;">
                            <!-- Keyword Search -->
                            <div class="form_input relative w-full">
                                <span class="icon_search ph-bold ph-magnifying-glass absolute top-1/2 -translate-y-1/2 left-2 text-xl"></span>
                                <input type="text" name="keyword" class="input_search w-full h-full pl-10" placeholder="Job title, key words or company" value="{{ keyword }}" />
                            </div>
                        
                            <!-- Category Selection -->
                            <div class="select_block flex-shrink-0 sm:pr-16 pr-7 sm:pl-6 pl-3 sm:border-l border-line">
                                <div class="select">
                                    <span class="selected" data-title="All Categories">{{ selected_category|default:"All Categories" }}</span>
                                    <ul class="list_option bg-white">
                                        <li data-item="All Categories">All Categories</li>
                                        {% for cat in top_categories %}
                                        <li data-item="{{ cat.name }}" onclick="setCategory('{{ cat.name }}')">{{ cat.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <input type="hidden" name="category_name" id="category_name" value="{{ selected_category|default:"" }}">
                                <span class="icon_down ph ph-caret-down sm:text-2xl text-xl right-0"></span>
                            </div>
                        
                            <!-- Submit Button -->
                            <button type="submit" class="category-btn-final">Search</button>
                        </form>
                    </div>
                    <div class="list_tags flex flex-wrap items-center gap-3 mt-5 animate animate_top" style="--i: 4">
                        <strong class="text-button-sm text-black">Top Services:</strong>
                        {% for cat in top_categories|slice:":3" %}
                        <a href="{% url 'gigs' %}?category_id={{cat.id}}" class="tag -small -border border-opacity-20 text-button-sm text-black hover:text-black hover:bg-white">{{cat.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Right Column: Image -->
                <div class="slider_image md:w-1/2 w-full flex items-center justify-center">
                    <img src="{% static 'work_prenair/assets/images/workprenair1.png' %}" alt="WorkPrenair Image" class="max-w-full h-auto animate animate_top" style="--i: 5">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Top Categories -->
<section class="top_categories lg:pt-20 sm:pt-14 pt-10" style="background-image: url('{% static 'work_prenair/assets/images/banner.png' %}'); background-size: cover; background-position: center; margin-top:2rem;">
    <div class="container" style="padding-bottom: 2rem;">
        <div class="heading flex items-end justify-between flex-wrap gap-4">
            <div class="left animate animate_top" style="--i: 1">
                <h3 class="heading3">Top Categories</h3>
                <p class="body2 text-secondary mt-3">Explore a wide range of services organized by category</p>
            </div>
            <a href="{% url 'gigs' %}" class="text-button pb-0.5 border-b-2 border-primary duration-300 hover:text-primary animate animate_top" style="--i: 2">View More</a>
        </div>
        <div class="list grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-7.5 md:mt-10 mt-7">
            {% for cat in top_categories %}
            <div class="category_item p-7.5 rounded-20 bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 1">
                <div class="icon pb-4 w-fit line-before line-2px">
                    <span class="icon-graphic text-5xl"></span>
                </div>
                <h6 class="heading6 mt-5">{{cat.name}}</h6>
                <div class="list_category flex flex-col gap-2.5 mt-3">
                    {% for sub_cat in cat.subcategories.all|slice:":5" %}
                    <a href="{% url 'gigs' %}?category_id={{sub_cat.id}}" class="inline-block w-fit line-before text-secondary hover:text-black">{{sub_cat.name}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Feature services -->
<section class="feature_services lg:py-20 sm:py-14 py-10" style="background-image: url('{% static 'work_prenair/assets/images/banner.png' %}'); background-size: cover; background-position: center; margin-top:3rem;" >
    <div class="container">
        <div class="heading flex flex-col items-center">
            <h3 class="heading3 text-center animate animate_top" style="--i: 1">Feature services</h3>
            <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2">Discover our featured services designed to elevate your experience</p>
            <div class="heading_menu border-b border-line md:mt-7 mt-5 animate animate_top" style="--i: 3">
                <div class="menu_tab">
                    <ul class="menu flex gap-7" role="tablist">
                        <li class="indicator absolute bottom-0 h-0.5 bg-primary rounded-full duration-300" role="presentation"></li>
                        <li class="tab_item" role="presentation">
                            <button class="tab_btn -before py-1 text-button hover:text-primary duration-300 active" id="services_tab01" role="tab" aria-controls="services_01" aria-selected="true">Programming & Tech</button>
                        </li>
                        <li class="tab_item" role="presentation">
                            <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab02" role="tab" aria-controls="services_02" aria-selected="false">AI</button>
                        </li>
                        <li class="tab_item" role="presentation">
                            <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab03" role="tab" aria-controls="services_03" aria-selected="false">Graphics & Design</button>
                        </li>
                        <li class="tab_item" role="presentation">
                            <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab04" role="tab" aria-controls="services_04" aria-selected="false">Digital Marketing</button>
                        </li>
                        <li class="tab_item" role="presentation">
                            <button class="tab_btn -before py-1 text-button hover:text-primary duration-300" id="services_tab05" role="tab" aria-controls="services_05" aria-selected="false">Writing</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="services_01" class="tab_list active" role="tabpanel" aria-labelledby="services_tab01" aria-hidden="false">
            <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                {% for gig in web_dev_gigs %}
                <li class="featured-item item animate animate_top" data-slug="{{gig.slug}}" style="--i: 1">
                    <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                        <a href="{% url 'gig_detail' gig.slug %}" class="service_thumb product-link">
                            <img src="{{gig.image.url}}" alt="1" class="w-full" />
                        </a>
                        <div class="service_info py-5 px-4">
                            <div class="flex items-center justify-between">
                                <a href="{% url 'gig_detail' gig.slug %}" class="product-link tag caption2 bg-surface hover:bg-primary hover:text-white" style="background-color: #ff6f61;">{{gig.category_level_1}}</a>
                                <div class="rate flex items-center gap-1">
                                    <span class="ph-fill ph-star text-yellow text-xs"></span>
                                    <strong class="service_rate text-button-sm">5.0</strong>
                                    <span class="service_rate_quantity caption1 text-secondary">({{gig.gig_fivestar_reviews.count}})</span>
                                </div>
                            </div>
                            <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_title text-title pt-2 duration-300 hover:text-primary">{{gig.title}}</a>
                            <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                <a href="{% url 'work_user_profile' gig.user.username %}" class="service_author flex items-center gap-2">
                                    <div class="avat relative flex-shrink-0 w-9 h-9">
                                        <img src="{{gig.user.profile_pic.url}}" alt="company/1" class="chat_avatar w-8 h-8 rounded-full object-cover" />
                                        {% if gig.user.is_online %}
                                        <span style="background-color: green;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green border-2 border-white"></span>
                                        {% else %}
                                        <span style="background-color: gray;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-red border-2 border-white"></span>
                                        {% endif %}
                                    </div>
                                    <div style="display: flex; flex-direction: column; gap: 2px;">
                                        <span class="tag w-fit caption1 bg-background text-success">{{gig.user.user_badge.get_level_display}}</span>
                                        <span class="service_author_name -style-1">{{gig.user.username}}</span>
                                    </div>
                                </a>
                                <div class="service_price whitespace-nowrap">
                                    <span class="text-secondary">From </span>
                                    <span class="price text-title">${{gig.basic_price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="services_02" class="tab_list" role="tabpanel" aria-labelledby="services_tab02" aria-hidden="true">
            <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                {% for gig in ai_gigs %}
                <li class="featured-item item animate animate_top" data-slug="{{gig.slug}}" style="--i: 1">
                    <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                        <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_thumb">
                            <img src="{{gig.image.url}}" alt="1" class="w-full" />
                        </a>
                        <div class="service_info py-5 px-4">
                            <div class="flex items-center justify-between">
                                <a href="{% url 'gig_detail' gig.slug %}" class="product-link tag caption2 bg-surface hover:bg-primary hover:text-white" style="background-color: #ff6f61;">{{gig.category_level_1}}</a>
                                <div class="rate flex items-center gap-1">
                                    <span class="ph-fill ph-star text-yellow text-xs"></span>
                                    <strong class="service_rate text-button-sm">5.0</strong>
                                    <span class="service_rate_quantity caption1 text-secondary">({{gig.gig_fivestar_reviews.count}})</span>
                                </div>
                            </div>
                            <a href="{% url 'work_user_profile' gig.user.username %}" class="service_author flex items-center gap-2">
                                <div class="avat relative flex-shrink-0 w-9 h-9">
                                    <img src="{{gig.user.profile_pic.url}}" alt="company/1" class="chat_avatar w-8 h-8 rounded-full object-cover" />
                                    {% if gig.user.is_online %}
                                    <span style="background-color: green;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green border-2 border-white"></span>
                                    {% else %}
                                    <span style="background-color: gray;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-red border-2 border-white"></span>
                                    {% endif %}
                                </div>
                                <div style="display: flex; flex-direction: column; gap: 2px;">
                                    <span class="tag w-fit caption1 bg-background text-success">{{gig.user.user_badge.get_level_display}}</span>
                                    <span class="service_author_name -style-1">{{gig.user.username}}</span>
                                </div>
                            </a>
                                <div class="service_price whitespace-nowrap">
                                    <span class="text-secondary">From </span>
                                    <span class="price text-title">${{gig.basic_price}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <div id="services_03" class="tab_list" role="tabpanel" aria-labelledby="services_tab03" aria-hidden="true">
            <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                {% for gig in design_gigs %}
                <li class="item animate animate_top featured-item" data-slug="{{gig.slug}}" style="--i: 1">
                    <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                        <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_thumb">
                            <img src="{{gig.image.url}}" alt="1" class="w-full" />
                        </a>
                        <div class="service_info py-5 px-4">
                            <div class="flex items-center justify-between">
                                <a href="{% url 'gig_detail' gig.slug %}" class="product-link tag caption2 bg-surface hover:bg-primary hover:text-white" style="background-color: #ff6f61;">{{gig.category_level_1}}</a>
                                <div class="rate flex items-center gap-1">
                                    <span class="ph-fill ph-star text-yellow text-xs"></span>
                                    <strong class="service_rate text-button-sm">5.0</strong>
                                    <span class="service_rate_quantity caption1 text-secondary">({{gig.gig_fivestar_reviews.count}})</span>
                                </div>
                            </div>
                            <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_title text-title pt-2 duration-300 hover:text-primary">{{gig.title}}</a>
                            <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                <a href="{% url 'work_user_profile' gig.user.username %}" class="service_author flex items-center gap-2">
                                    <div class="avat relative flex-shrink-0 w-9 h-9">
                                        <img src="{{gig.user.profile_pic.url}}" alt="company/1" class="chat_avatar w-8 h-8 rounded-full object-cover" />
                                        {% if gig.user.is_online %}
                                        <span style="background-color: green;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green border-2 border-white"></span>
                                        {% else %}
                                        <span style="background-color: gray;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-red border-2 border-white"></span>
                                        {% endif %}
                                    </div>
                                    <div style="display: flex; flex-direction: column; gap: 2px;">
                                        <span class="tag w-fit caption1 bg-background text-success">{{gig.user.user_badge.get_level_display}}</span>
                                        <span class="service_author_name -style-1">{{gig.user.username}}</span>
                                    </div>
                                </a>
                                <div class="service_price whitespace-nowrap">
                                    <span class="text-secondary">From </span>
                                    <span class="price text-title">${{gig.basic_price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="services_04" class="tab_list" role="tabpanel" aria-labelledby="services_tab04" aria-hidden="true">
            <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                {% for gig in marketing_gigs %}
                <li class="item animate animate_top featured-item" data-slug="{{gig.slug}}" style="--i: 1">
                    <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                        <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_thumb">
                            <img src="{{gig.image.url}}" alt="1" class="w-full" />
                        </a>
                        <div class="service_info py-5 px-4">
                            <div class="flex items-center justify-between">
                                <a href="{% url 'gig_detail' gig.slug %}" class="product-link tag caption2 bg-surface hover:bg-primary hover:text-white" style="background-color: #ff6f61;">{{gig.category_level_1}}</a>
                                <div class="rate flex items-center gap-1">
                                    <span class="ph-fill ph-star text-yellow text-xs"></span>
                                    <strong class="service_rate text-button-sm">5.0</strong>
                                    <span class="service_rate_quantity caption1 text-secondary">({{gig.gig_fivestar_reviews.count}})</span>
                                </div>
                            </div>
                            <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_title text-title pt-2 duration-300 hover:text-primary">{{gig.title}}</a>
                            <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                <a href="{% url 'work_user_profile' gig.user.username %}" class="service_author flex items-center gap-2">
                                    <div class="avat relative flex-shrink-0 w-9 h-9">
                                        <img src="{{gig.user.profile_pic.url}}" alt="company/1" class="chat_avatar w-8 h-8 rounded-full object-cover" />
                                        {% if gig.user.is_online %}
                                        <span style="background-color: green;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green border-2 border-white"></span>
                                        {% else %}
                                        <span style="background-color: gray;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-red border-2 border-white"></span>
                                        {% endif %}
                                    </div>
                                    <div style="display: flex; flex-direction: column; gap: 2px;">
                                        <span class="tag w-fit caption1 bg-background text-success">{{gig.user.user_badge.get_level_display}}</span>
                                        <span class="service_author_name -style-1">{{gig.user.username}}</span>
                                    </div>
                                </a>
                                <div class="service_price whitespace-nowrap">
                                    <span class="text-secondary">From </span>
                                    <span class="price text-title">${{gig.basic_price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="services_05" class="tab_list" role="tabpanel" aria-labelledby="services_tab05" aria-hidden="true">
            <ul class="list grid xl:grid-cols-4 sm:grid-cols-2 gap-7.5 md:mt-10 mt-7">
                {% for gig in writing_gigs %}
                <li class="item animate animate_top featured-item" data-slug="{{gig.slug}}" style="--i: 1">
                    <div class="service_item overflow-hidden relative rounded-lg bg-white shadow-md duration-300 hover:shadow-xl">
                        <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_thumb">
                            <img src="{{gig.image.url}}" alt="1" class="w-full" />
                        </a>
                        <div class="service_info py-5 px-4">
                            <div class="flex items-center justify-between">
                                <a href="{% url 'gig_detail' gig.slug %}" class="product-link tag caption2 bg-surface hover:bg-primary hover:text-white" style="background-color: #ff6f61;">{{gig.category_level_1}}</a>
                                <div class="rate flex items-center gap-1">
                                    <span class="ph-fill ph-star text-yellow text-xs"></span>
                                    <strong class="service_rate text-button-sm">5.0</strong>
                                    <span class="service_rate_quantity caption1 text-secondary">({{gig.gig_fivestar_reviews.count}})</span>
                                </div>
                            </div>
                            <a href="{% url 'gig_detail' gig.slug %}" class="product-link service_title text-title pt-2 duration-300 hover:text-primary">{{gig.title}}</a>
                            <div class="service_more_info flex items-center justify-between gap-1 mt-4 pt-4 border-t border-line">
                                <a href="{% url 'work_user_profile' gig.user.username %}" class="service_author flex items-center gap-2">
                                    <div class="avat relative flex-shrink-0 w-9 h-9">
                                        <img src="{{gig.user.profile_pic.url}}" alt="company/1" class="chat_avatar w-8 h-8 rounded-full object-cover" />
                                        {% if gig.user.is_online %}
                                        <span style="background-color: green;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-green border-2 border-white"></span>
                                        {% else %}
                                        <span style="background-color: gray;" class="chat_status absolute bottom-0 right-0 w-3 h-3 rounded-full bg-red border-2 border-white"></span>
                                        {% endif %}
                                    </div>
                                    <div style="display: flex; flex-direction: column; gap: 2px;">
                                        <span class="tag w-fit caption1 bg-background text-success">{{gig.user.user_badge.get_level_display}}</span>
                                        <span class="service_author_name -style-1">{{gig.user.username}}</span>
                                    </div>
                                </a>
                                <div class="service_price whitespace-nowrap">
                                    <span class="text-secondary">From </span>
                                    <span class="price text-title">${{gig.basic_price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>



<!-- Benefit -->
<section class="benefit lg:py-20 sm:py-14 py-10">
    <div class="container">
        <div class="benefit_inner flex max-lg:flex-col-reverse items-center justify-between gap-y-8">
            <div class="benefit_content xl:w-[570px] lg:w-5/12 w-full">
                <h3 class="heading3 animate animate_top" style="--i: 1">Fireprenair! The best choice?</h3>
                <p class="body2 mt-3 animate animate_top" style="--i: 2">Streamline your hiring process with strategic channels to reach qualified candidates</p>
                <ul class="list_benefit flex flex-col gap-6 mt-8">
                    <li class="benefit_item flex gap-4 animate animate_top" style="--i: 3">
                        <span class="ph ph-wallet flex-shrink-0 text-4xl" style="color: #ff6f61;"></span>
                        <div class="benefit_info">
                            <h6 class="title heading6">Stick to your budget</h6>
                            <p class="desc mt-1">Reduce your time-to-hire by up to 75% and free up headspace for other HR priorities.</p>
                        </div>
                    </li>
                    <li class="benefit_item flex gap-4 animate animate_top" style="--i: 4">
                        <span class="ph ph-certificate flex-shrink-0 text-4xl" style="color: #ff6f61;"></span>
                        <div class="benefit_info">
                            <h6 class="title heading6">Get quality work done quickly</h6>
                            <p class="desc mt-1">Hand your project over to a talented freelancer in minutes, get long-lasting results.</p>
                        </div>
                    </li>
                    <li class="benefit_item flex gap-4 animate animate_top" style="--i: 5">
                        <span class="ph ph-phone-call flex-shrink-0 text-4xl" style="color: #ff6f61;"></span>
                        <div class="benefit_info">
                            <h6 class="title heading6">Support On 24/7</h6>
                            <p class="desc mt-1">Our round-the-clock support team is available to help anytime, anywhere.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="benefit_bg relative lg:w-5/12 sm:w-[45%] w-[85%] lg:pl-3 lg:pr-15">
                <img src="{% static 'home/images/features.png' %}" alt="benefit1" class="w-full rounded-20" />
                <div class="flag_benefit flex items-center gap-3 absolute sm:top-44 top-36 lg:right-0 -right-8 p-3 bg-white rounded-xl shadow-xl animate animate_left" style="--i: 1; background-color: #ff6f61;">
                    <span class="ph ph-lightning sm:text-4xl text-3xl text-primary flex-shrink-0"></span>
                    <div class="flag_info">
                        <h6 class="heading6" style="color: white;">+20k</h6>
                        <span class="caption1" style="color: white;">Daily website traffic</span>
                    </div>
                </div>
                <div class="flag_benefit flex items-center gap-3 absolute bottom-15 sm:-left-28 -left-7 p-3 bg-white rounded-xl shadow-xl animate animate_right" style="--i: 2; background-color: #ff6f61;">
                    <div class="flag_info pl-[14px] border-l-2 border-primary">
                        <h6 class="heading6" style="color: white;">+10k</h6>
                        <span class="caption1" style="color: white;">Job applications this month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Counter -->
<section class="counter lg:py-15 sm:py-12 py-8 bg-[#FAF7F1]">
    <div class="container flex max-lg:flex-wrap items-center justify-between max-lg:gap-y-8">
        <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 1">
            <h2 class="heading2 pb-1 text-center">25k+</h2>
            <span class="body1 text-center">Jobs Available</span>
        </div>
        <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
        <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 2">
            <h2 class="heading2 pb-1 text-center">17k+</h2>
            <span class="body1 text-center">New Projects This Week!</span>
        </div>
        <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
        <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 3">
            <h2 class="heading2 pb-1 text-center">28k+</h2>
            <span class="body1 text-center">Clients</span>
        </div>
        <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
        <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 4">
            <h2 class="heading2 pb-1 text-center">5k+</h2>
            <span class="body1 text-center">Total Freelancers</span>
        </div>
    </div>
</section>



<!-- Banner -->
<section class="banner lg:pb-20 sm:pb-14 pb-10" style="margin-bottom: 20px;">
    <div class="container">
        <div class="banner_inner relative sm:px-16 px-8 py-16 overflow-hidden rounded-xl animate animateZoomOutUp" style="--i: 5">
            <div class="banner_bg absolute top-0 left-0 w-full h-full z-[-1]">
                <img src="{% static 'work_prenair/assets/images/jobs.png' %}" alt="banner1" class="w-full h-full object-cover" />
            </div>
            <div class="banner_content">
                <h4 class="heading4 text-white animate animate_top" style="--i: 1; color: #ff6f61;">Embrace Independence <br class="max-sm:hidden" />Start Your Freelance Journey Now</h4>
                <p class="desc mt-2 text-white animate animate_top" style="--i: 2; color: black;">Connect with your Desginer in minutes</p>
                <div class="md:mt-7 mt-5 animate animate_top" style="--i: 3">
                    <a href="{% url 'become_seller' %}" class="category-btn-final" style="background-color: #ff6f61; color: white; padding: 12px; width: 150px;">Become A Seller</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Scroll to top -->
<button class="scroll-to-top-btn"><span class="ph-bold ph-caret-up"></span></button>
{% include 'work_prenair/gig_modal.html' %}

{% include 'home/partials/footer.html' %}

{% include 'work_prenair/partials/mb-menu.html' %}





{% endblock content %}


{% block extra_javascript %} 

<script>
    // Function to set the selected category value in the hidden input field
    function setCategory(category) {
        document.getElementById('category_name').value = category;
    }
</script>

{% endblock extra_javascript %}