{% load static %}
<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>
    {% block title %}Eduprenair{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/misc/fireprenair_logo.png' %}">

    {% block css %}
    {% block extra_css %} {% endblock extra_css %}
    <script src="{% static 'edu_prenair/assets/js/theme-script.js' %}"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/css/bootstrap.min.css' %}" />

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/fontawesome/css/fontawesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/css/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/css/owl.theme.default.min.css' %}" />

	<!-- Slick CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/slick/slick.css' %}" />
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/slick/slick-theme.css' %}" />

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/select2/css/select2.min.css' %}" />

	<!-- Aos CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/plugins/aos/aos.css' %}" />

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'edu_prenair/assets/css/style.css' %}" />
    {% endblock css %}

</head>
<body>

{% comment %} {% include "edu_prenair/partials/messages.html" %} {% endcomment %}
{% include "edu_prenair/partials/chatbot.html" %}
{% include 'digi_prenair/partials/messages.html' %}

{% block content %}{% endblock content %}

{% block javascript %}
<!-- jQuery -->
<script src="{% static 'edu_prenair/assets/js/jquery-3.7.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'edu_prenair/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'edu_prenair/assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'edu_prenair/assets/plugins/aos/aos.js' %}"></script>

<!-- counterup JS -->
<script src="{% static 'edu_prenair/assets/js/jquery.waypoints.js' %}"></script>	
<script src="{% static 'edu_prenair/assets/js/jquery.counterup.min.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'edu_prenair/assets/plugins/select2/js/select2.min.js' %}"></script>

<!-- Owl Carousel -->

<!-- Slick Slider -->
<script src="{% static 'edu_prenair/assets/plugins/slick/slick.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'edu_prenair/assets/js/script.js' %}"></script>
<script src="{% static "home/js/notify.js" %}"></script>

{% block extra_javascript %} {% endblock extra_javascript %}
{% endblock javascript %}

</body>
</html>