{% extends "dashboard/dashboard_base.html" %} {% block title %}Dashboard |
Change Password{% endblock title %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'work_prenair/assets/css/apexcharts.css' %}"
/>

{% endblock extra_css %} {% block content %}
<body class="lg:overflow-hidden">
    {% include "dashboard/partials/header.html" %}

  <div class="dashboard_main overflow-hidden lg:w-screen lg:h-screen flex">
    {% include 'dashboard/partials/dashboard_sidebar.html' %}

    <div class="dashboard_change_password scrollbar_custom w-full bg-surface" style="background: url({% static 'home/images/banner.png' %});">
        <div class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
            <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                <span class="ph ph-squares-four text-xl"></span>
                <strong class="text-button">Menu</strong>
            </button>
            <h4 class="heading4 max-lg:mt-3">Change Passwords</h4>
            <form method="POST" class="form_change grid grid-cols-2 gap-5 w-full p-10 mt-7.5 rounded-lg bg-white shadow-sm">
                {% csrf_token %}
    
                <!-- General Errors -->
                {% if password_form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in password_form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
    
                <!-- Old Password -->
                <div class="old_pass col-span-full flex flex-col">
                    {{ password_form.old_password.label_tag }}
                    {{ password_form.old_password }}
                    {% if password_form.old_password.errors %}
                    <div class="error-message text-red-500">
                        {% for error in password_form.old_password.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                <!-- New Password -->
                <div class="new_pass col-span-full flex flex-col">
                    {{ password_form.new_password1.label_tag }}
                    {{ password_form.new_password1 }}
                    {% if password_form.new_password1.errors %}
                    <div class="error-message text-red-500">
                        {% for error in password_form.new_password1.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                <!-- Confirm New Password -->
                <div class="confirm_pass col-span-full flex flex-col">
                    {{ password_form.new_password2.label_tag }}
                    {{ password_form.new_password2 }}
                    {% if password_form.new_password2.errors %}
                    <div class="error-message text-red-500">
                        {% for error in password_form.new_password2.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                <!-- Submit Button -->
                <div class="block_btn col-span-full">
                    <button type="submit" class="category-btn-final btn_change_password">Change Password</button>
                </div>
            </form>
        </div>
        <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
            <span class="copyright caption1 text-secondary">©{% now "Y" %} Fireprenair. All Rights Reserved</span>
        </div>
    </div>

  </div>

  {% include 'work_prenair/partials/mb-menu.html' %}

  <!-- Modal -->
  <div class="modal">
    <!-- menu_dashboard -->
    {% include "work_prenair/partials/menu-modal.html" %}
  </div>

  {% endblock content %} {% block extra_javascript %}

  <script src="{% static 'work_prenair/assets/js/apexcharts.js' %}"></script>
  {% endblock extra_javascript %}
</body>
