{% extends "commu_prenair/partials/base.html" %}
{% load course_filters %}
{% load static %}
{% block title %} Fireprenair - Commuprenair | Profile - Groups {% endblock title %}
{% block content %}



{% include 'commu_prenair/partials/menu.html' %}


{% include 'commu_prenair/partials/header.html' %}


<!-- Main Content start -->
<main class="main-content" style="padding-top: 10px;">
    <div class="container">
        {% include 'commu_prenair/partials/profile_topbar.html' %}
        <div class="row">
            <div class="col-xxl-9 col-xl-8">
                <div class="row cus-mar friend-request">
                    {% for group in groups %}
                    <div class="col-xxl-4 col-xl-6 col-lg-4 col-sm-6 col-8">
                        <div class="single-box p-5">
                            <div class="avatar-box position-relative">
                                <img class="avatar-img w-100" style="height: 200px;" src="{{group.bg_img.url}}" alt="avatar">
                                <div class="abs-area w-100 position-absolute top-0 p-3 d-center justify-content-end">
                                </div>
                            </div>
                            <div class="abs-avatar-item">
                                <img class="avatar-img max-un" style="width: 130px;" src="{{group.profile_img.url}}" alt="avatar">
                            </div>
                            <a href="group-details.html"><h6 class="m-0 my-2">{{group.name}}</h6></a>
                            {% if group.is_public %}
                            <p class="smtxt public-group">Public Group</p>
                            {% else %}
                            <p class="smtxt public-group">Private Group</p>
                            {% endif %}
                            <div class="friends-list d-center mt-3 gap-1 text-center">
                                <ul class="d-center">
                                    {% for member in group.members.all|slice:":3" %}
                                    <li><img src="{{member.profile_pic.url}}" alt="image"></li>
                                    {% endfor %}
                                </ul>
                                <span class="smtxt m-0">{{group.members.count}} Member</span>
                            </div>
                            <div class="d-center btn-border pt-5 gap-2 mt-4">
                                {% if group|is_member:request.user  %}
                                <a href="{% url 'group_detail' group.slug %}" class="category-btn-final" style="color: white; padding: 10px 20px;">View</a>
                                {% else  %}
                                <a href="{% url 'join_group' group.slug %}" class="category-btn-final" style="color: white; padding: 10px 20px;">Join</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock content %}


{% block javascript %}

<script src="{% static 'commu_prenair/assets/js/plugins/jquery.min.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/plyr.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/apexcharts.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/wow.min.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/plugins/plugin.js' %}"></script>
<script src="{% static 'commu_prenair/assets/js/main.js' %}"></script>

{% endblock javascript %}